:root {
  --clr-black: #000000;

  --clr-black-var-1: #111111;
  --clr-black-var-2: #161616;
  --clr-black-var-3: #212121;

  --clr-white: #ffffff;

  --clr-blue-bright: #0095f6;
  --clr-blue-dark: #1877f2;
}
